// colors
$text-color: white;
$text-color-secondary: rgba(149, 75, 64, 0.6);
$footer-color: #CFCFCF;

// font
$font-family-secondary: 'Open Sans', sans-serif;
$font-family-primary: 'Montserrat', sans-serif;

$font-weight: 400;
$font-main__text: 24px;
$font-main__text-line: 29px;
$font-main__text-l: 40px;
$font-main__text-line-l: 49px;
$font-footer-l: 14px;
$font-footer--height-l: 19px;
$font-footer: 10px;
$font-footer--height: 14px;
$font-icons: 33px;

// body
$body-background: url('../img/background.png');