// colors
$text-color: white;
$text-color-secondary: rgba(149, 75, 64, 0.6);
$footer-color: #CFCFCF;

// font
$font-family: 'Open Sans', sans-serif;
$font-weight: 400;
$font-footer: 1.4vh;
$font-footer--height: 1.9vh;
$font-main__text: 4vh;
$font-main__text-line: 4.9vh;

// body
$body-background: url('../img/background.png');