.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__top {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85vh;
  }
  &__logo {
    padding-top: 7.3vh;
    height: 60%;
    margin-bottom: 4.5vh;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  &__text {
    h1 {
      font-size: $font-main__text;
      font-family: $font-family-primary;
      line-height: $font-main__text-line;
      color: $text-color;
      margin-bottom: 3vh;     
    }
  }
  &__icons {
    color: $text-color-secondary;
    font-size: $font-icons;
    display: flex;
    justify-content: center;
    margin-bottom: 1.3vh;
    i {
      cursor: pointer;
      transition: .2s ease-in;
      margin: 0 12.8px;
      &:hover {
        transform: scale(1.3);
        color: $text-color;
      }
    } 
  }
  &__adress {
    @include adress-info();
    font-family: $font-family-secondary;
    margin-bottom: 99px;
  }
  &__phone {
    cursor: pointer;
    transition: .3s ease-in;
    a {
      color: $text-color-secondary;
      text-decoration: none;
      &:hover {
        color: $text-color;
      }
    }
  }
  @media (min-width: 768px) {
    &__text {
      h1 {
        font-size: $font-main__text-l;
      line-height: $font-main__text-line-l;
      }
    }
    &__logo {
      height: 70%;
    }
    &__adress {
      margin-bottom: 47px;
    }
  }
}