@media(max-width:768px){
  .main{
    &__top{
      justify-content: center;
    }
    &__content{
      align-items: center;
    }
    &__footer{
      font-size: 10px;
      line-height: 14px;
      text-align: left;
    }
  }
}
